@charset "ISO-8859-1";

.main-index{
	font-family:Verdana, Geneva, sans-serif;
}

.sitenameText{
	font-size: 56px;
	font-weight:bold;
    position: absolute;
    left: 50%;
    top: 258px;
    transform: translateX(-50%);
    color:#FFFFFF;
    height: 80px;
    box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.10);
}
.search-ui{
    position: absolute;
    left: 50%;
    top: 400px;
    transform: translateX(-50%);
    color:#FFFFFF;
    height: 80px;
    box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.10);
	
}

.card {
 	position: absolute;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    top: 98px;
    
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-img-top{
	display: block;
	margin:0 auto;
	height: 256px; 
	width: 572px; 
	overflow: hidden;
}


.card-header{
	padding: 25x;
	font-family:Verdana, Geneva, sans-serif;
	font-size: 38px;

}

.input-group-addon{
	font-weight:bold;
	font-size:28px;
	padding:10px;
}

.refresh {
  position: absolute;
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #ff5050;
  border: none;
  border-radius: 15px;
  box-shadow: 0 3px #999;
  left:10%;
  top: 80px;
}

.refresh:hover {background-color: #ff5050ed}

.refresh:active {
  background-color: #ff5050;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.card-title-rating h6{display:inline;}
.card-title-rating span{float:right;}
.fa.fa-search{color:#ffffff;}
.material-icons.food{color:#262626;}
.nav-link{color:#262626;}
.navbar-brand.navbar-left{color:#262626;}
